textarea {
  resize: vertical;
  width: 70vw;
  border: 2px solid black;
  border-right: 1px solid black;
  border-radius: 10px 0 0 10px;
  padding: 1em;
  background-color: rgba(119, 136, 153, 0.25);
  font-size: 1.5em;
  min-height: 40vh;
}

select {
  width: 7em;
  border: 2px solid black;
  border-left: 1px solid black;
  border-radius: 0 10px 10px 0;
  background-color: rgba(119, 136, 153, 0.25);
  font-size: 1.5em;
}

textarea:focus, select:focus {
  outline: thin solid rgba(0, 0, 0, 0.5);
}

div {
  display: flex;
}

.legend {
  flex-direction: column;

  & > div {
    display: flex;
    width: 100%;
    margin: 0;

    & > p {
      width: 100%;
      border: 1px solid black;
      padding: 5px;
      margin: 0;
    }

    :nth-child(1) {
      text-align: right;
      flex-grow: 1;
      flex-shrink: 10;
    }

    :nth-child(2) {
      text-align: left;
      flex-grow: 20;
    }
  }
}

.sentence {
  display: flex;
  width: 75vw;
  flex-direction: column;
  box-shadow: 0 0 10px 2px;
  border-radius: 7px;

  & > div {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0.25em;

    & > p {
      padding: 5px;
      cursor: help;
      border: 1px solid black;

      &:hover {
        border: 2px solid black;
      }
    }
  }
}

.sentenceWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

@media (max-width: 735px) {
  textarea {
    width: 100%;
  }
}
