<label for="search-box">Eingabe eines Texts</label>
<div>
  <textarea #searchBox id="search-box" maxlength="1000" (input)="search(searchBox.value)"></textarea>
  <select #selectLang (change)="language = selectLang.value; search(searchBox.value)">
    <option value="de" selected>Deutsch (DE)</option>
    <option value="en">English (EN)</option>
  </select>
</div>
<div class="sentenceWrapper">
  <div #sentenceElement class="sentence" *ngFor="let sentence of jsonResult$ | async">
    <div>
      <p *ngFor="let word of sentence.words" title="{{word.tag}} - {{getDescription(word.tag)}}">{{word.text}}&nbsp;</p>
    </div>
    <app-spacy-ui-sentence
      class="sentenceGraph"
      [lang]="selectLang.value"
      [size]="[sentenceElement.clientWidth, sentenceElement.clientWidth * 9 / 21]"
      [spaCySentenceData]="sentence"></app-spacy-ui-sentence>
  </div>
</div>
<div class="legend">
  <h3>Legende zu Parser-Labels</h3>
  <div *ngFor="let keyPair of getKeyPairParserLabels()">
    <p>{{keyPair.key}}</p>
    <p>{{keyPair.value}}</p>
  </div>
</div>
