/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

* {
  font-family: Times, "Times New Roman", Georgia, serif;
}
