:host ::ng-deep {
  display: block;
  height: inherit;
  width: inherit;

  .cardContainer {
    height: 100px;
    width: 150px;
    display: block;

    .name {
      font-size: 24px;
    }

    label {
      display: block;
      text-align: center;
      font-size: 20px;
      margin-top: 4px;
      margin-bottom: 8px;
    }
  }

  .linkMidpoint {
    ellipse {
      fill: white;
      stroke: black;
      stroke-width: 1;
    }

    text {
      stroke: transparent;
      fill: black;
      text-anchor: middle;
      font-size: 10px;
    }
  }
}
